<!-- Partial pour afficher les heures travaillees sous forme de matrice
     L'objet est de type MatriceHeures -->

<table border="1">
  <tr>
    <th>Heure</th>
    <% matrice_heures.dates.each do | d | %>
       <th><%= d.strftime('%a')%> <br /><%= d.month.to_s+'-'+d.day.to_s %></th>
    <% end %>
  </tr>
  <% matrice_heures.heures.each do | hs | %>
    <tr>
      <td><%= hs.to_s+":00" %></td>
      <% matrice_heures.dates.each do | d | %>
        <td align="right">
          <% matrice_heures.get(hs, d).each do | act, qte | %>
            <%= sprintf("%3.3s - %4.2f", act, qte) %><br/>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>