<h1>Afficher les Constantes de Calcul de la Paie</h1>

<%= render :partial => @constante_paie, :locals => { button_name: "Enregistrer", readonly: true} %>

<%= link_to 'Edit', edit_constante_paie_path(@constante_paie) %>
