<h1>Modifier les données d'un employé</h1>

<%= render :partial => @employe, :locals => { :button_name => "Enregistrer"} %>

<%= link_to 'Afficher', @employe %> |
<%= link_to 'Retour', employes_path %>
